@import "~bootstrap/scss/bootstrap";

$titles: 'Bahnschrift',sans-serif;
$paragraphs: 'Helvetica';

h2 {
    font-family:$titles;
    font-weight: bold;
    font-size: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 0;
}

p {
    font-family:$paragraphs;
    margin: 0;
    padding: 0 0 1.25em 0;
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.strip {
    width: 100%;
    min-height: 50vh;
}

#clashHeader {
    background-image: url('../public/img/banner.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 825px;
    display: flex;
    align-items: center;
}

#logo {
    height: 140px;
    margin: auto;
    align-self: center;
    margin-bottom: 510px;
}

#download {
    height: 750px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.content_phone {
    width: 1600px;
    display: grid;
    grid-template-columns: auto auto;
}

.content {
    width: 660px;
}

.phone {
    width: 495px;
    margin-right: 180px;
}

.btn {
    height: 60px;
}